.container {
  margin: 0 auto;
  max-width: 850px;
}

h1 {
  display: flex;
  justify-content: center;
}

.week {
}

.column-seventh {
  display: flex;
  justify-content: space-evenly;
  flex-basis: calc(100% / 7);
}

.day-of-week {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.week-btn {
  flex-basis: 100%;
}

.click-count {
  align-self: flex-end;
  margin-bottom: 0;
}

.column-full {
  width: 100%;
}

table {
  border: 1px solid;
  margin: 15px auto;
}

.modal {
  border: 1px solid;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  z-index: 4;
  position: fixed;
  background-color: white;
}

.time-and-day {
  display: flex;
  justify-content: space-between;
}

.time-button,
.day-button {
  width: 100%;
  margin: 20px;
  margin-left: 200px;
  margin-right: 200px;
}

.notes-text {
  display: flex;
  justify-content: center;
}

textarea {

}

.modal-header {
  display: flex;
  justify-content: space-between;
}

h2 {
  width: 100%;
  text-align: center;
}

i {
  color: red;
}

i:hover {
  cursor: pointer;
}

.submit-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.submit-button {
  background-color: pink;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.825);
  z-index: 2;
}

td {
  border: 1px solid;
}

.hidden {
  display: none;
}

.shown {
  display: block;
}
