.hidden {
  display: none;
}

.container {
  margin: 0 auto;
  max-width: 850px;
}

.week {
  border: 1px solid black;
}

.column-seventh {
  display: flex;
  justify-content: space-evenly;
  flex-basis: calc(100% / 7);
}

.day-of-week {
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

.week-btn {
  flex-basis: 100%;
}

/* .click-count {
  align-self: flex-end;
} */

.column-full {
  width: 100%;
}
